_pycache_/
*.pyc
.env
*.env
.secrets/
.streamlit/secrets.toml
venv/
_pycache_/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env
*.env

# Secret config
.secrets/
.streamlit/secrets.toml

# OS-specific files
.DS_Store
Thumbs.db